<div class="container">
  <div class="mt-8 text-center">
    <!-- Google AdSense -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3615614508734124"
         data-ad-slot="4091490183"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
  </div>
  <div class="mt-8 pt-8 text-center">
    <nav aria-label="Utility">
      <ul class="footer-nav">
        <li><a href="#" data-nav="about">About</a></li>
        <li><a href="#" data-nav="privacy">Privacy Policy</a></li>
        <li><a href="#" data-nav="terms">Terms of Service</a></li>
        <li><a href="#" data-nav="contact">Contact</a></li>
      </ul>
    </nav>
    <p class="small">
      Murphy's Law Archive content is under the <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener">CC0 1.0 Universal</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/zero.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"> and is free for all uses.
    </p>
  </div>
</div>
