<div class="container">
  <div class="flex h-16 items-center justify-between gap-4">
    <div class="brand-wrapper">
      <a class="brand" href="#/home">
        <button class="brand-badge" id="nav-menu-toggle" type="button" aria-label="Toggle navigation menu" aria-expanded="false">
          M
        </button>
        <div class="brand-content">
          <h2 class="brand-name"><span class="accent-text">Murphy's</span> Law</h2>
          <span class="brand-subtitle">If it can go wrong, it will, and you'll find it here.</span>
        </div>
      </a>
      <nav class="nav-dropdown" id="nav-dropdown" aria-label="Main navigation">
        <a href="#/home" class="nav-dropdown-item" data-nav="home">
          <span class="material-symbols-outlined icon" aria-hidden="true">home</span>
          Home
        </a>
        <a href="#/browse" class="nav-dropdown-item" data-nav="browse">
          <span class="material-symbols-outlined icon" aria-hidden="true">menu_book</span>
          All of Murphy's Laws
        </a>
        <a href="#/calculator" class="nav-dropdown-item" data-nav="calculator">
          <span class="material-symbols-outlined icon" aria-hidden="true">calculate</span>
          Sod's Law Calculator
        </a>
        <a href="#/toastcalculator" class="nav-dropdown-item" data-nav="toastcalculator">
          <span class="material-symbols-outlined icon" aria-hidden="true">functions</span>
          Buttered Toast Landing Calculator
        </a>
        <a href="#/submit" class="nav-dropdown-item" data-nav="submit">
          <span class="material-symbols-outlined icon" aria-hidden="true">send</span>
          Submit your Murphy's Law
        </a>
      </nav>
    </div>

    <form role="search" class="flex items-center gap-2" aria-label="Site Search">
      <input type="text" id="header-search" name="search" aria-label="Search" placeholder="Search" class="input" />
      <button type="submit" class="btn">
        <span class="btn-text">Search</span>
        <span class="material-symbols-outlined icon" aria-hidden="true">search</span>
      </button>
    </form>
  </div>
</div>

